@font-face {
  font-family: "Nunito";
  src: url("~@/assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Regular.ttf");
}

html {
  width: var(--app-width);
  height: var(--app-height);
  font-size: 1rem;
}

body {
  font-family: "Montserrat", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
