:root {
  --color-primary: #292e66;
  --color-bg: #ffffff;
  --color-acc2: #c8d5d7;
  --color-grey: #969898;
  --app-height: 400px;
  --app-width: 400px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@tailwind base;
@tailwind components;

.app-input {
  @apply w-full px-3 py-2 border appearance-none border-solid rounded-md;
}
@tailwind utilities;
